In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
pd.set_option('display.max_columns', None) ## 모든 열을 출력한다.

In [3]:
# 격자데이터
df_frame = gpd.read_file("08.속초-고성_격자별인구현황.json", encoding='utf-8')
df_frame.head()

        gid    lbl   val                                           geometry
0  라아830496  30.00  30.0  POLYGON ((128.45110 38.44316, 128.45225 38.443...
1  라아907296    N/A   0.0  POLYGON ((128.53675 38.26220, 128.53789 38.262...
2  라아805562  39.00  39.0  POLYGON ((128.42322 38.50286, 128.42436 38.502...
3  라아918334    N/A   0.0  POLYGON ((128.54981 38.29633, 128.55096 38.296...
4  라아805526    N/A   0.0  POLYGON ((128.42280 38.47042, 128.42395 38.470...

In [4]:
# 데이터
df = pd.read_csv("merge_temp.csv", encoding='utf-8')
df.head()

,Unnamed: 0,상가업소번호,상권업종대분류명,상권업종중분류명,상권업종소분류명,시군구명,경도,위도,date,geometry,GRID_ID,지번주소,도로명주소
0,0,18921801,관광지,지역사찰,지역사찰,고성군,128.461232,38.450099,2021-06-01,POINT (128.461231846869 38.4500990879468),라아838503,NaN,NaN
1,1,20739840,관광지,해수욕장,해수욕장,고성군,128.509936,38.356723,2021-06-01,POINT (128.509936046267 38.3567228330802),라아882400,NaN,NaN
2,2,7231262,관광지,해수욕장,해수욕장,고성군,128.546412,38.300914,2021-06-01,POINT (128.546412289393 38.300913819225),라아914339,NaN,NaN
3,3,11385177,관광지,일반관광지,일반관광지,고성군,128.370069,38.404499,2021-06-01,POINT (128.370069234145 38.4044988845984),라아759452,NaN,NaN
4,4,14123105,관광지,토속/특산물/기념품매장,토속/특산물/기념품매장,고성군,128.535804,38.306674,2021-06-01,POINT (128.535803652593 38.3066740590294),라아905345,NaN,NaN

In [5]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [6]:
df.head()

,상가업소번호,상권업종대분류명,상권업종중분류명,상권업종소분류명,시군구명,경도,위도,date,geometry,GRID_ID,지번주소,도로명주소
0,18921801,관광지,지역사찰,지역사찰,고성군,128.461232,38.450099,2021-06-01,POINT (128.461231846869 38.4500990879468),라아838503,NaN,NaN
1,20739840,관광지,해수욕장,해수욕장,고성군,128.509936,38.356723,2021-06-01,POINT (128.509936046267 38.3567228330802),라아882400,NaN,NaN
2,7231262,관광지,해수욕장,해수욕장,고성군,128.546412,38.300914,2021-06-01,POINT (128.546412289393 38.300913819225),라아914339,NaN,NaN
3,11385177,관광지,일반관광지,일반관광지,고성군,128.370069,38.404499,2021-06-01,POINT (128.370069234145 38.4044988845984),라아759452,NaN,NaN
4,14123105,관광지,토속/특산물/기념품매장,토속/특산물/기념품매장,고성군,128.535804,38.306674,2021-06-01,POINT (128.535803652593 38.3066740590294),라아905345,NaN,NaN

In [7]:
df.GRID_ID.isna().sum()

21838

In [35]:
df["위도"][0].astype(str) + ", " + df["경도"][0].astype(str)

'38.4500990879468, 128.461231846869'

In [8]:
# 셀레니움 import
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup

In [9]:
# 크롬창 열기
driver = webdriver.Chrome('chromedriver.exe')

In [10]:
# 설정한 url로 데이터 get함수로 요청
url = 'https://ch1517.github.io/CountryBranchCode/'
driver.get(url)

In [11]:
input_str = df["위도"][0].astype(str) + ", " + df["경도"][0].astype(str) + "\n"
driver.find_element_by_xpath('//*[@id="root"]/div/header/form/input[1]').send_keys(input_str)

In [12]:
driver.find_element_by_xpath('//*[@id="root"]/div/div/div/div[1]/div[4]/img').click()

In [13]:
# 무분별한 크롤링을 막기위한 방지코드가 존재
# 아래 사이트에서 User-Agent 정보를 복사하여 header를 추가하여 request한다.
# www.useragentstring.com/
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36'} # 각자 본인의 User-Agent 정보 입력 

# requsts로 url에 정보요청 (.get 함수를 자주 사용하면 서비스 제공자가 블락할 수 있어 1번 사용한 후, 주석처리를 하고 변수로 설정하여 사용한다.)
response = requests.get(url, headers = headers)
# response = requests.get(url)
# 정보를 html 변환 (보기 쉽게)
soup = BeautifulSoup(resp.text, 'html')

NameError: name 'requests' is not defined

select가 안됨

In [108]:
soup.info()

TypeError: 'NoneType' object is not callable

In [14]:
soup.select("div.cbcCode")

NameError: name 'soup' is not defined

In [91]:
soup.select()<span class="popupSpan"><b>다바 8747 1942</b><br>36.37216, 127.36035</span>

TypeError: select() missing 1 required positional argument: 'selector'

In [ ]:
import numpy as np
import pandas as pd
import requests # 웹 상의 데이터를 가져올 때
from bs4 import BeautifulSoup # 가져온 데이터에서 필요한 정보를 골라낼(파싱할) 때

In [ ]:
# 빈 딕셔너리 생성
# dic_ = {
#     'title': [],
#     'search_point': [],
#     'etc': [],
#     'view_count': [],
#     'review_count': []
# }

# 검색지역 지정
# keyword = "속초"

# 1~10 페이지 설정
# for page in range(10):
    # url정의
    url = 'https://ch1517.github.io/CountryBranchCode/'

    # requsts로 url에 정보요청 (.get 함수를 자주 사용하면 서비스 제공자가 블락할 수 있어 1번 사용한 후, 주석처리를 하고 변수로 설정하여 사용한다.)
    resp = requests.get(url)

    # 정보를 html 변환 (보기 쉽게)
    soup = BeautifulSoup(resp.text, 'lxml')

    # 20개의 게시물 크롤링
    for i in range(20):
        title = soup.select("h2.title")[i].text
        search_point = soup.select("strong.point.search_point")[i].text
        etc = soup.select("p.etc")[i].text
        view_count = soup.select("span.view_count")[i].text
        review_count = soup.select("span.review_count")[i].text

        dic_['title'].append(title)
        dic_['search_point'].append(search_point)
        dic_['etc'].append(etc)
        dic_['view_count'].append(view_count)
        dic_['review_count'].append(review_count)

In [ ]:
# 좌표계 기준 1m 미리 설정
one_meter = 0.0000113

frame_data = df_frame

def in100(data):
    frame_data[data.columns[2]] = 0
    for i in tqdm(range(len(data))):
        a = frame_data[(frame_data['x'] <= data.loc[i,'x']+one_meter*100) &
                   (frame_data['y'] <= data.loc[i,'y']+one_meter*100) &
                   (data.loc[i,'x']-one_meter*100 <= frame_data['x']) &
                   (data.loc[i,'y']-one_meter*100 <= frame_data['y'])].index
        frame_data.loc[a, data.columns[2]]+=data.loc[i, data.columns[2]]
    print("반경 100m내의 격자포인트에 데이터를 성공적으로 할당하였습니다")
    
# 격자데이터 -> frame_data
# 데이터 -> data
# lon -> x
# lat -> y
# 위치 -> a